<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-lg-12">
    		<p>
				Hello! My name’s Lera, I’m 23. I’m from Belarus, but at the moment I live in Poland.
				For the last 5 month, I've been learning front-end development.
				So I’m a beginning developer with a passion for responsive website design.
				On my <a href="https://www.linkedin.com/in/lera-chukovich-5a2064186/">Linkedin</a>  page you can find some of my works.
			</p>
      </div>
<!--	    <div class="col-sm-6">-->
<!--		    <h3 style="margin-top:0;">Highlights</h3>-->
<!--		    <ul>-->
<!--    			<li>-->
<!--            Was a performer at IT company in building QMS including mentoring,-->
<!--				teaching, supporting. Built a well-coordinated team, and as a result, -->
<!--				the project delivery process.-->
<!--    			</li>-->
<!--          <li>-->
<!--Wrote a lot of QA documentation such as Test Plans and Reports.-->
<!--			    <li>-->
<!--I have experience in C coding (embedded systems), in Selenium automation.-->
<!--			    <li>-->
<!--            Productivity - For less than year successfully delivered a 4 projects-->
<!--    			</li>-->
<!--    			<li>-->
<!--Currently work as QA lead, managing team.-->
<!--			    </li>-->
<!--		    </ul>-->
<!--	    </div>-->
    </div>
  </div>
</section>
