<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
		Proactive Quality assurance engineer with experience in eCommerce, seeking for team
		which oriented to Client results (I am also considering moving to Poland). 
		The last project Hobbyking.com, delivered by my team increased conversion
		rate for 8%. Constantly improving, I am always focused on the result. 
		Skilled in performing testing, managing test process, and Business Process Improvement.
        </p>
        <p>
           I love to learn new things.
           While hard engineering problems are often intrinsically fun to tackle,
           I'm most attracted to solving real customer problems with a business justification.
	  Continuous improvement is my hobby - that's why my knowledge is alwaus actual. 
	There is no any doubt that I can solve any problem - I am flexible and can learn anything in short time.
           
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Was a performer at IT company in building QMS including mentoring,
				teaching, supporting. Built a well-coordinated team, and as a result, 
				the project delivery process.
    			</li>
          <li>
Wrote a lot of QA documentation such as Test Plans and Reports.
			    <li>
I have experience in C coding (embedded systems), in Selenium automation.
			    <li>
            Productivity - For less than year successfully delivered a 4 projects
    			</li>
    			<li>
Currently work as QA lead, managing team.
			    </li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
