<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Information</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		 <h3 style="margin-top:0">Little brief</h3>
			<ul>
			  <li>
				 <b>Education</b> - MS in Radioelectronics with GPA 3.52.
			  </li>
			  <li>
				 <b>Experience</b> - 3 + years in Quality assurance.
			  </li>
			  <li>
			 <b>Skillset</b> - Check the latest list in <a href=https://www.linkedin.com/in/yegor-kozhernovich/>LinkedIn</a>

      </li>
		    <li>
			 <b>Additional</b> - MS in Finance with GPA 3.62.

      </li>
			</ul>
	    <h3>Portfolio</h3>
	    <ul>
		    <li>
			    You can find my repo in <a href=https://github.com/RicPiccolo >Github</a> - 
			    I'm working on some projects, like free Magento store for startups. Trying to find 
			    out quintessence of extensions and customization (In future want to implement this as real store). 
			    Also I have a some Python scripts as example of my work (Not so good in python)).
			   You can find some working templates developed by me as QA engineer in 
			    <a href=https://drive.google.com/open?id=1v5pCmwi9BL4wlmCy0-yjTuqTRNPNzLzX>Gdrive</a>. 
			    It is a little representation of me, very little, but do not judge strictly.
			    </li>
		    </ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
  			<li>
          <a href=https://www.hobbyking.com/>Hobbyking</a>
    		</li>
  			<li>
          <a href=https://www.thetrybe.com.au>The Trybe</a> - Kids shoe 
  			</li>
	<li>
          <a href=https://www.cerruti.com>Cerutti</a> and <a href=https://d-urban.com>D'urban</a> - fashion brands
  			</li>
  		    </ul>
  		    <h3>Sertifications</h3>
  		    <ul>
  			<li>
           I'm not going to have a lot of certificates, I am looking for knowledge,
	how to achieve more knowledge and how to spread more knowledge.  
	However you can find a relevant list of certificates on <a href=href=https://www.linkedin.com/in/yegor-kozhernovich/>Linkedin</a>
</li>
		   </ul>
      </div>
    </div>
  </div>
</section>
