<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Information</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
					<h3>Technologies</h3>
					<ul>
						<li>
							Coding: HTML, CSS, JavaScript(beginner).
						</li>
						<li>
							Design Tools: Adobe Photoshop, Adobe Illustrator, Avocode, Figma
						</li>
						<li>
							Frameworks: Bootstrap.
						</li>
					</ul>

		 <h3 style="margin-top:0">Education</h3>
			<ul>
			  <li>
				  Tourism and hospitality<br>
				  Nesvizh state college named after Y.Kolas (2012-2015)<br>
				  Brest State University named after A.S.Pushkin (2015-2018)
			  </li>
			  <li>
				  Digital Design<br>
				  <a href="https://www.cidr.design/">CIDR DESIGN</a><br>
				  (june 2019 - september 2019)
			  </li>
			  <li>
				  The Web Developer Bootcamp (in progress)<br>
				  <a href="https://www.udemy.com/course/the-web-developer-bootcamp/">Udemy</a>
			  </li>
			</ul>



		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Languages</h3>
		  <ul>
  			<li>
				Russian (native)
    		</li>
  			<li>
				English (pre-intermediate)
  			</li>
			<li>
				Polish (beginner)
  			</li>
  		    </ul>

  		    <h3>Passions</h3>
  		    <ul>
  				<li>
					Good Design
				</li>
				<li>
					Dance
				</li>
				<li>
					Camping
				</li>
		   </ul>
      </div>
    </div>
  </div>
</section>
