<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Title</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    Little brief (Here I should paste education and work exp):
        </p>
			<ul>
			  <li>
				 <b>Header 1</b>. Some text to input
			  </li>
			  <li>
				 <b>Header 1</b>. Some text to input
			  </li>
			  <li>
				 <b>Header 1</b>. Some text to input

      </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
  			<li>
          Project 1 with tag href or include 1 more funtion in main.js
    		</li>
  			<li>
          The second one (trybe/cerutti/d'urban)
  			</li>
  		    </ul>
  		    <h3>Here can be skills or sertifications</h3>
  		    <ul>
  			<li>
           Skill 1/ Sert 1 (since 2008)
  			</li>
  			<li>
  			  Skill 2/ Sert 2
  			</li>
		   </ul>
      </div>
    </div>
  </div>
</section>
